<div class="wrapper">

	<div class="screen">



		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 take-out modal-wrapper ">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-lg-offset-3 no-padding modal-read dim-shadow no-offset">
				<p class="title-header"> {{innerResourceBody}}</p>

				<div class="text-body">
					<p>

					</p>

				</div>
			</div>

		</div>

		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header shadow-raised">

			<div class="container-fluid">
				<div class="row">
					<div class=" col-xs-2 col-sm-6 col-md-6 no-padding col-lg-6 brand">
						<img class="take-out toggle-menu" (click)="toggleMenuButton()" [src]="menuIcon" width="40" height="40" />
						<p>Student Resource Track App</p>


					</div>



				</div>
			</div>
		</div>


		<div [class.show-stacked-menu]="menuToggle" class="take-out col-xs-12 col-md-12 no-padding  stacked-menu ">
			<nav>
				<ul>
					<li>
						<a routerLink='/resources'>View Resources</a>
					</li>
					<li>
						<a routerLink='/resource'>Create Resource</a>
					</li>
					<li>
						<a routerLink='/student'>Add a Student</a>
					</li>
					<li>
						<a routerLink='/students'>View Students</a>
					</li>




				</ul>


			</nav>
		</div>




		<div class="  no-toolbar col-xs-12 col-sm-12 col-md-12 col-lg-12  centralize-content nav-tab">
			<nav>
				<a routerLink='/resources'>View Resources</a>
				<a routerLink='/resource'>Create Resource</a>
				<a routerLink='/student'>Add a Student</a>
				<a routerLink='/students'>View Students</a>

			</nav>
		</div>

		<router-outlet></router-outlet>


	</div>
</div>