<!--The content below is only a placeholder and can be replaced.-->

<div class="wrapper">

	<div class="screen">


		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header shadow-raised">
			<div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4 brand">
				<p>Student Resource App Track App</p>
			</div>
		</div>



		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 centralize-content nav-tab">
			<nav>
				<a routerLink='/resources'>View Resources</a>
				<a routerLink='/resource'>Create Resource</a>
				<a routerLink='/student'>Add a Student</a>
				<a routerLink='/students'>View Students</a>
			</nav>
		</div>

		<router-outlet></router-outlet>


<!-- 
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 centralize-content detail-container ">


			<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 detail-wrapper">
				<div class="row">

					<div class="col-xs-9 col-sm-4 col-md-3 col-lg-2 dim-shadow detail-view">



					</div>


					<div class="col-xs-9 col-sm-4 col-md-3 col-lg-2 dim-shadow detail-view">

					</div>


					<div class="col-xs-9 col-sm-4 col-md-3 col-lg-2 dim-shadow detail-view-2">

						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 resource-title-box">
							<p class="resource-title">Material Design</p>
						</div>

						<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 resource-bottom-box no-padding">

							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 author-box no-padding">

								<p class="col-xs-12 col-sm-12 col-md-12 col-lg-12  author-name">Author: Ogie Ben</p>

							</div>

						</div>


					</div>
					<div class="col-xs-9 col-sm-4 col-md-4 col-lg-2 dim-shadow detail-view">

						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 resource-title-box">
							<p class="resource-title">Material Design</p>
						</div>

						<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 resource-bottom-box no-padding">

							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 author-box no-padding">

								<p class="col-xs-12 col-sm-12 col-md-12 col-lg-12  author-name">Author: Ogie Ben</p>

							</div>

						</div>


					</div>

				</div>
			</div> 


		</div>-->

	</div>
</div>