<div class="wrapper">

    <div class="screen">

        <!--  <div [class.display]="!loader" class="loader">

        </div> -->


        <div class="loader-position centralize-vertical centralize-content" [class.display-loader]="!loader">

            <i class="fa fa-spinner fa-spin" style="font-size:62px; color: #004;"></i>
            <!-- <i class="fa fa-circle-o-notch fa-spin" style="font-size:62px; color: #004;"></i> -->

        </div>





        <!-- <i class="fa fa-spinner fa-spin" style="font-size:24px; font-color: #004;"></i> -->

        <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 detail-wrapper">
            <div class="row">
                <div class="col-xs-9 col-sm-4 col-md-4 col-lg-2 dim-shadow detail-view" *ngFor="let student of students">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 resource-title-box">
                        <p class="resource-title">{{student.name}}</p>
                    </div>

                    <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 resource-bottom-box no-padding">

                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 author-box no-padding">

                            <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12  author-name">email: {{student.email}}</p>

                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>